<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.SlideshowDao">
    <resultMap id="sm" type="Slideshow">
        <id column="s_id" property="slideId"/>
        <result column="s_path" property="slidePath"/>
        <result column="s_date" property="slideDate"/>
        <result column="s_description" property="slideDescription"/>
        <result column="s_status" property="slideStatus"/>
    </resultMap>
    <select id="selectAllSlideshowByPage" resultMap="sm">
        select * from t_slideshow limit #{start},#{rows}
    </select>
    <insert id="insertSlideshow">
        insert into t_slideshow values(replace(UUID(),'-',''),#{slidePath},#{slideDate},#{slideDescription},#{slideStatus})
    </insert>

    <update id="updateSlideshow">
        update t_slideshow
        <set>
            s_date=#{slideDate},s_description=#{slideDescription},s_status=#{slideStatus},
            <if test="slidePath != null and slidePath !=''">
                s_path=#{slidePath},
            </if>
        </set>
        where s_id =#{slideId}
    </update>
    <select id="selectCounts" resultType="int">
        select count(*) from t_slideshow
    </select>
    <select id="selectSlideById" resultMap="sm">
        select * from t_slideshow where s_id = #{slideId}
    </select>
</mapper>